<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/xml; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="https://ec2-54-80-62-111.compute-1.amazonaws.com/phidias.worker/interface/xhtml/css/main.css" />
        <title>Sistema para administraci&oacute;n de colegios - Phidias Acad&eacute;mico</title>
    </head>

    <body>
        <div id="frame">
            <div id="header">
                <div id="logo">
                    <h1>Phidias</h1>
                </div>
            </div>

            <div id="content">
                <div class="error">
    <h1>La página ingresada no existe</h1>
    <p>Asegúrese de haber escrito correctamente la dirección de su colegio</p>
</div>

<div style="text-align: center; font-size: 2em; margin-top: 30px">
    <p style="margin: auto">Para más información sobre Phidias visite <a href="http://www.phidias.co">www.phidias.co</a></p>
</div>


            </div>
        </div>
    </body>
</html>